---
import Layout from '../../layouts/Layout.astro';
import { Sidebar } from '../../components/Sidebar';
import { EventsContent } from '../../components/EventsContent';
---

<Layout title="All Events - Eventer">
  <div class="flex min-h-screen bg-background">
    <Sidebar client:idle />
    
    <main class="flex-1 p-8 md:p-12 overflow-y-auto w-full">
      <EventsContent client:idle />
    </main>
  </div>
</Layout>
